
$primary-color: #fceed5;
$secondary-color: #003459;
$tag-color: #00a7e7;
$highlight-color: #0078cd;

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-large: 25px;

$font-size-x-small: 0.7em;
$font-size-small: 1rem;      // 16px
$font-size-medium: 1.125rem; // 18px
$font-size-large: 1.25rem;   // 20px
$font-size-x-large: 1.5rem;  // 24px
$font-size-xx-large: 2rem;   // 32px

$font-main-title: 50px;
$font-main-subtitle: 36px;